.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

app-pawn {
  position: absolute;
}
