div {
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.odd:nth-of-type(even) {
  background-color: black;
}

div.even:nth-of-type(odd) {
  background-color: black;
}

p {
  margin: 0;
  color: gray;
  font-size: 1.5rem;
}

.highlight p {
  color: blue;
}
