.component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: white;
}

div.component :nth-child(2n-1) {
  background-color: black;
}
